<ion-app>
  <ion-menu side="start" menuId="side-menu" contentId="main-content">
    <ion-header>
      <ion-toolbar color="secondary">
        <ion-title color="tertiary">Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item [routerLink]="['/produtos-salvos']">Produtos salvos</ion-item>
        <ion-item [routerLink]="['/sobrenos']">Sobre nós</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-header>
    <ion-toolbar color="secondary" >
      <ion-buttons slot="start">
        <ion-menu-button menu="side-menu" color="tertiary"></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center">
        <a [routerLink]="['/home']"><img src="assets/icon/giftbox.png" alt="Qual Presente?" id="icon"></a>
      </ion-title>
      <ion-button slot="end" color="secondary" [routerLink]="['/profile/{{profile.id}}']">
        <ion-icon name="person-circle-outline" size="large"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-content class="main">
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-content>
</ion-app>
