<ion-content>
  <ion-list>
    <ion-list-header color="tertiary">
      <h3>Presentes salvos</h3>
    </ion-list-header>

    <ion-item color="tertiary" *ngFor="let produtos of listaProdutos">
      <ion-avatar slot="start">
        <img [src]="produtos.imgPath">
      </ion-avatar>

      <ion-label>
        <h2>{{produtos.nome}}</h2>
        <h3>R$ {{produtos.preco}}</h3>
      </ion-label>
      <ion-button color="success" [href]="produtos.url">Comprar</ion-button>
      <ion-icon size="small" name="star"></ion-icon>
    </ion-item>

  </ion-list>
</ion-content>
